//adjustment vars
$container-width: 940px;

//adjustment styles
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    height: 100%;

    @include laptop {
        font-size: 15px;
    }

    @include tablets {
        font-size: 14px;
    }

    @include tablets {
        font-size: 12px;
    }
}

body {
    line-height: 1.42;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background:rgba(#ffffff, 1);
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.maincontent {
    flex: 1 0 auto;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;  
    max-width: $container-width;

    @include laptop {
        width: 750px;
    }

    @include tablets {
        width: 480px;
    }

    @include phones {
        width: auto;
    }
}

footer {
    flex: 0 0 auto;
    min-width: $container-width + 20;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}