$grey: rgb(88, 88, 88);
$orange: rgb(102, 29, 185);
$blue: rgba(#2f8ec5, 1);

@mixin box-shadow($params){
    box-shadow: $params;
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
}

@mixin color($color, $bg) {
    color: $color;
    background: $bg;
}

%clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin inlineblock($valign: top) {
    display: inline-block;
    vertical-align: $valign;
}

//responsive

@function rem($px) {
    @return $px / 16px + 0rem;
}

//screen adaptiv

@mixin desktop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin tablets {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: 480px) {
        @content;
    }
}

//retina display

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (min-resolution: 144dpi){
    //.тег {
    // backro: url(...)
    // backro-size: 100%
}