.content {
    box-sizing: border-box;
    .container {
        @extend %clearfix;
    }
}

.sidebar{
    width: rem(220px);
    float: left;

    @include tablets {
        width: 100%;
        float: none;
        margin-bottom: rem(35px);
    }
}

.nav__item{
display: block;

    @include tablets{
        display: inline-block;
    }
}

.page-content {
    width: rem(700px);
    float: right;

    @include laptop {
        width: rem(500px);
    }

    @include tablets {
        width: 100%;
        float: none;
    }
}

.nav__link {
    color: $grey;
    display: block;
    padding: rem(10px) 0;
    padding-right: 20px;
    text-align: right;
    border-right: 5px solid transparent;
    text-decoration: none;

    @include tablets {
        display: inline-block;
        text-align: left;
        border: none;
    }

    &:hover {
        color: $blue;
        border-color: $blue;
    }
}

.nav__link-1 {
    color: $orange;
    display: block;
    padding: rem(10px) 0;
    padding-right: rem(20px);
    text-align: right;
    border-right: 5px solid transparent;
    text-decoration: none;
    border-color: $orange;

    @include tablets {
        display: inline-block;
        border: none;
    }
}

.about{
    @extend %clearfix
}

.about__left {
    width: rem(290px);
    float: left;
    height: rem(400px);

    @include laptop {
        width: rem(172px);
    }

    @include laptop {
        width: rem(150px);
    }
}

.about__right {
    width: rem(400px);
    float: right;

    @include laptop {
        width: rem(290px);
    }
    
}

.container__pic {
    width: rem(220px);
    padding: 0 7%;
}

.about__pic {
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid $blue;
    width: rem(220px);
    height: rem(220px);

    @include laptop {
        max-width: rem(130px);
        max-height: rem(130px);
    }
}

.about__pic-img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.title {
    font-size: rem(35px);
    color: black;
    margin-bottom: rem(20px);
}

.about__desk {
    p {
        color: rgb(3, 2, 2);
        margin-top: 0;
        margin-bottom: rem(15px);
    }
}

.button {
    text-align: center;
    vertical-align: middle;
    height: rem(40px);
    width: rem(170px);
    border-radius: rem(10px);
    background: white;
    color: $blue;
    border: 1px solid $grey;
    float: right;
    
    &:hover {
        background: $orange;
        color: white;

        .button__down {
            color: white; 
        }
    }
}

.button__down{
    
    padding-top: rem(9px);
    text-decoration: none;
    display: block;
    height: rem(40px);
    width: rem(170px);
}

/* ---------- career ---------- */

.career{
    @extend %clearfix
}

.career__left {
    width: rem(290px);
    float: left;
}

.career__right {
    width: rem(400px);
    float: right;
}

.career__pic {
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid $blue;
    display: block;
    width: rem(220px);
    height: rem(220px);
}

.title {
    text-align: center;
}

.career__item {
    text-align: right;
    margin-bottom: rem(20px);

    &:first-child {
        .career__block {
            &:before {
                display: none;
            }
        }
    }

    &:last-child {
        .career__block {
            &::after {
                display: none;
            }
        }    
    }
}

.career__block {
    width: rem(350px);
    border: 1px solid $grey; 
    display: inline-block;
    position: relative;
    border-radius: rem(10px);
    color: $grey;
    
    &:before, &:after {
        content: "";
        display: block;
        width: 1px;
        background: $blue;
        position: absolute;
        left: rem(-30px);
        
    }

    &:before {
        top: 0;
        bottom: 50%;
        margin-bottom: rem(10px);
    }
    
    &:after {
        top: 50%;
        bottom: rem(-22px);
        margin-top: rem(10px);
    }

    &:hover {
        border: 1px solid rgb(61, 75, 199);
        border-radius: rem(10px);
        background: $blue;
        color: white;

        .career__year {
            color: $blue;
            
            &:after {
                @include box-shadow (0 0 8px 3px $blue);
            }
        }
    }
}   


.career__year {
    position: absolute;
    right: 100%;
    top: 50%;
    line-height: rem(30px);
    margin-top: rem(-15px);
    margin-right: rem(40px);
    color: $grey;

    &:after {
        content: "";
        width: rem(10px);
        height: rem(10px);
        background: $blue;
        border-radius: 50%;
        position: absolute;
        right: rem(-16px);
        top: 50%;
        margin-top: rem(-5px);
        z-index: 1;

        &:hover {
            box-shadow: 0 0 rem(10px) rgba(0,0,0,0.5)
        }
    }
}

/* ---------- portfolio ---------- */

.portfolio__block {
    width: rem(690px);
    text-align: justify;
    display: block;
    padding-left: rem(10px);
}

.portfolio__block_content {
    height: rem(300px);
    width: rem(200px);
    border: 1px solid black;
    border-radius: 10px;
    background: rgb(217, 221, 255);
    display: inline-block;
    vertical-align: rem(35px);
    overflow: hidden;

    &:hover {

        border: 1px solid $orange;

        h2 {
            color: $orange;
        }
    }
}

.portfolio__box_content {
    height: rem(300px);
    width: rem(200px);
    display: block;
    overflow: hidden;
    
}

.content-p{
    height: rem(200px);
    width: rem(200px);
    display: block;
    border-bottom: 1px solid $grey;
    
}

.content_pic {
    width: rem(200px);
    height: rem(210px);
    border-radius: rem(10px);
}

.content__pic-img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

h2 {
    font-size: rem(20px);
    text-align: center;
    color: $blue;
    margin-top: 5px;
}

.content__text {
    width: rem(200px);
    height: rem(90px);
    font-size: rem(15px);
}

.teg_1 {
    margin-left: rem(10px);
    text-align: center;
    margin-bottom: rem(5px);
}

.teg_2 {
    margin-left: rem(10px);
    text-align: center;
}

.content__next {
    display: block;
    text-decoration: none;
}
